@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400&family=Supermercado+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Averia Serif Libre', cursive;
  background-color: #071d13;
  color: white;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

/* .App {
  text-align: center;
  justify-content: space-around;
  align-items: center;
} */

.Nav {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  height: 18vh;
  background: #0a2018;
}

.Nav h1 {
  padding: 50px 20px;
  font-size: 3rem;
  margin-left: 50px;
}

.Nav ul {
  margin: -90px 10px 10px 250px;
  text-align: right;
  margin-right: 50px;
  /* position: fixed; */
  font-size: 20px;
}

.nav-links li,
a {
  color: white;
  width: 80%;
  display: inline;
  padding-left: 1rem;
  text-align: center;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-links li:hover {
  color: #4f725d;
}

.About h1 {
  z-index: 100;
  position: absolute;
  margin-right: 40px;
  right: -0.8px;
  text-align: right;
  color: white;
  margin-top: 50px;
  font-size: 3rem;
}

.About-P {
  z-index: 100;
  position: absolute;
  right: 200px;
  margin-right: 40px;
  right: -0.8px;
  text-align: right;
  color: white;
  margin-top: 140px;
  font-size: 1.5rem;
  display: block;
  padding: 10px;
}

.About-Img {
  position: absolute;
  margin: auto;
  display: block;
  /* margin-top: 40px; */
  max-height: 2000px;
  max-width: 100%;
}

.searchbar {
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  text-shadow: 0 0 0 var(--green);
}

.Developer-Info h1 {
  color: white;
  margin-top: 30px;
  font-size: 2rem;
}

.Developer-Info p {
  color: white;
  margin: 30px;
  /* margin-top: 30px; */
  text-align: center;
  font-size: 1.2rem;
}
.Developer-Info img {
  margin-top: 40px;
  height: auto;
  max-width: 100%;
}

.TeaReviewForm {
  border: 3px solid white;
}

.TeaReviewForm h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 30px;
}
.TeaReviewForm input,
select,
textarea {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 18px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  width: 28rem;
  height: 3rem;
  box-sizing: border-box;
}

.TeaReviewForm button {
  font-family: 'Averia Serif Libre', cursive;
  color: white;
  margin: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 13px;
  margin: 45px;
  left: 36rem;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
}

.TeaReviewForm button:after {
  content: '';
  background-color: #446451;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.TeaReviewForm button:hover:after {
  top: 0px;
  left: 0px;
}

.cards {
  list-style: none;
}

.card {
  margin: 2rem;
  margin-right: 80px;
  margin-left: 75px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
}

.card img {
  width: 400px;
  height: 350px;
  border-radius: 5%;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  /* float: left; */
  font-weight: bold;
  shape-outside: circle();
  background-color: Green;
  color: white;
}

/* .card button {
  margin-top: 0.5rem;
} */

.primary {
  font-family: 'Averia Serif Libre', cursive;
  color: white;
  background-color: var(--green);
  font-size: 20px;
  border: 1px solid white;
  letter-spacing: 2px;
  padding: 10px 35px 13px;
  margin: 20px;
  cursor: pointer;
}

.Home img {
  border-radius: 5%;
  margin-top: 50px;
  margin-right: 75px;
  /* margin-bottom: 160px; */
  padding: 1px;
  display: inline;
  position: relative;
  right: -50px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.Home h3 {
  display: inline-block;
  margin-right: 158px;
  margin-top: 35px;
  margin-left: 250px;
}

.home-button {
  font-family: 'Averia Serif Libre', cursive;
  color: white;
  margin: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 13px;
  margin: 45px;
  left: 14rem;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  margin-right: 444px;
  margin-top: 45px;
  margin-left: -50px;
}
.home-button:after {
  content: '';
  background-color: #446451;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.home-button:hover:after {
  top: 0px;
  left: 0px;
}
